<?php
/**
 * Default configuration for Horde developers.
 */

/*******************************************/
/* The following items MUST be configured. */
/*******************************************/

// Target directory for git checkouts.
$conf['git_base'] = '';

// Target directory for installation, i.e. the webroot .
$conf['web_base'] = '';

// Group name to use for the static directory. Should be the web server's
// group.
$conf['static_group'] = '';

// Username for horde.org.
// Make sure you belong to the "horde" group there.
$conf['horde_user'] = '';

// Needed to update the Whups versions.
$conf['horde_pass'] = '';

// From: address for announcements.
$conf['from'] = 'Full name <user@horde.org>';


/************************************************************/
/* The following items are optional and have sane defaults. */
/************************************************************/

/* GLOBAL configuration */

// Be verbose?
$conf['verbose'] = false;


/* Git related configuration */

// Github organization to use for repositories
$conf['org'] = 'horde-git-test';

// To use a "developer" checkout, use the following URI for github.
// Otherwise, an anonymous clone will be done that cannot be pushed.
$conf['git_ssh'] = 'git@github.com:';

// Ignore the following repositories. Mostly used to avoid cloning of the
// legacy monolithic repository.
$conf['ignore'] = array();

// Additional arguments for the git clone command.
$conf['clone'] = '';

// If true, use the 'get' alias recommended by
// https://www.horde.org/development/git#updating-repository
$conf['use_git_get'] = true;

// If setting use_git_get to true, you probably want the alias to be
// automatically created in each repository that is cloned.
$conf['add_get_alias'] = true;

// Set to true to cache the results of GitHub API calls. E.g., when requesting
// a list of available repositories and their properties. Without this,
// frequent calls could blacklist the client IP for 15 minutes.
$conf['cache'] = true;


/* Installation related configuration. */

// List of applications to create symlinks for. Empty array will link all.
$conf['apps'] = array();

// Group mode to use for the static directory.
$conf['static_mode'] = 0775;

// Set to true to copy the structure instead of linking.
$conf['copy'] = false;


/* Horde developer configuration */

// PEAR server name. Only change for testing purposes.
$conf['releaseserver'] = 'pear.horde.org';

// PEAR server directory. Only change for testing purposes.
$conf['releasedir'] = '/horde/web/pear.horde.org';

/* Path to a checkout of the horde-web repository. */
// $conf['web_dir'] = '/var/www/horde-web';
